body {
  background-image: url(../img/fond2.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;


}

h1 {
  text-decoration: underline;
  text-align: center;
  font-size: xx-large;
}

h2 {
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
  color: blueviolet;
}

h3 {
  margin-left: 20px;
  color: red;
  font-size: x-large;
  text-decoration: underline;
}

#bella {
  justify-content: center;
  width: 700px;
  height: 700px;
}

p:first-letter {

  margin-left: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.divfooter2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@font-face {
  font-family: Roboto;
  src: url(Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Jeju;
  src: url(../JejuHallasan-Regular.ttf);
  font-weight: bold;
  font-size: xx-large;
}

.headertitre {
  font-family: 'Jeju';
  font-size: 35px;
  vertical-align: middle;
  color: black;
  text-decoration: none;
}

.boutonheader,
#art {
  font-family: 'Roboto';
  font-size: 20px;
  vertical-align: middle;
  background: none;
  padding: 10px;
  text-decoration: none;
  border: none;
  color: black;
}

.boutonheader,
#art:hover {
  text-decoration: underline;
  color: black;
}

header {
  color: black;
  background-color: white;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

  text-align: center;
}

body {
  background-image: url(../img/chef.jpg);
}

#art {
  text-decoration: underline;
}

main {
  margin: 5%;
}