
body{
    background-image: url(../img/fond2.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  
main{
  margin: 5%;

}
.a{
    font-size: x-large;
    color: red;
    text-align: justify;

}
h1{
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}
h2{
    font-size: x-large;
    color: blueviolet;
    text-decoration: underline;
}
figcaption{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align-last: center;

    
}


#energieebaum{ height: 700px; width: 700px;

}
@font-face {
  font-family: Roboto;
  src: url(Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Jeju;
  src: url(../JejuHallasan-Regular.ttf);
  font-weight: bold;
  font-size: xx-large;
}

.headertitre {
  font-family: 'Jeju';
  font-size: 35px;
  vertical-align: middle;
  color: black;
  text-decoration: none;
}

.boutonheader,#art {
  font-family: 'Roboto';
  font-size: 20px;
  vertical-align: middle;
  background: none;
  padding: 10px;
  text-decoration: none;
  border: none;
  color: black;
}

.boutonheader,#art:hover {
  text-decoration: underline;
  color: black;
}

header {
  color: black;
  background-color: white;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

  text-align: center;
}
body{
  background-color: #d9d9d9;
}
#art{
  text-decoration: underline;
}
.divfooter2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 

 




