@font-face {
    font-family: Roboto;
    src: url(Roboto/Roboto-Medium.ttf);
  }
  
  @font-face {
    font-family: Jeju;
    src: url(../JejuHallasan-Regular.ttf);
    font-weight: bold;
    font-size: xx-large;
  }
  
  .headertitre {
    font-family: 'Jeju';
    font-size: 35px;
    vertical-align: middle;
    color: black;
    text-decoration: none;
  }
  
  .boutonheader,#art {
    font-family: 'Roboto';
    font-size: 20px;
    vertical-align: middle;
    background: none;
    padding: 10px;
    text-decoration: none;
    border: none;
    color: black;
  }
  
  .boutonheader,#art:hover {
    text-decoration: underline;
    color: black;
  }
  
  header {
    color: black;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  
    text-align: center;
  }
 
  
  #art{
    text-decoration: underline;
  }
 main{
    margin-left: 20%;
    margin:5%
 }
 body{
    background-color: #d9d9d9;
 }
   

  
 
  
